<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <input type="text" class="login-input" placeholder="Username">
        <input type="password" class="login-input" placeholder="Password">
        <a href="#" style="text-decoration: none; color: #007bff;">Forgot Password?</a>
        <button class="login-button" routerLink="/opciones">Ingresar</button>

        <div class="register-text">
            Not a member? <a href="#" style="text-decoration: none; color: #007bff;">Register Now</a>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>